/*.page-control 
{
    width: 100%;
    padding-top: 20px;
    border-top: 1px solid #E2E2E2;
    height:1000px;
}
header, footer, hgroup,
nav, section {
    display: block;
}
/* Section
    ------------------------------------------------------
.section
{
    display: block;
    width: 100%;
    padding: 10px;
    background:#4b4d4e;
}

.section label 
{
    vertical-align: top;
    padding-right: 10px;
    display: inline-block;
    width: 180px;
    text-align: right;
}

.section input[type="text"], input[type="password"]
{
    padding: 0 0 0 10px;
    width: 98%;
}

.ietext
{
    height: 40px;
}

.mbsheader
{
    color:white; 
    font-weight:bold; 
    text-align:center;
}

.mbsouter
{
    width: 100%; 
    height:100%; 
    display:table; 
    position:absolute;
}

.mbsmiddle
{
    vertical-align:middle; 
    display:table-cell;
}

.mbsinner
{
    margin-left: auto; 
    margin-right: auto; 
    width: 100%
}*/
.popup {
           height: 450px;
            width: 120px;
            /*top: 70px;
            position: absolute;
            left: 15px;*/
        }
        .slider {
             width:100%;
             /*height:500px;*/
        }
        .gallery {
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
        }
        .item-checkbox-right .checkbox input,
        .item-checkbox-right .checkbox-icon {
          float: right;
        }

.item-checkbox.item-checkbox-right {
  /*the default item padding*/
  padding: 15px;
}#maps {
                height: 100%;
                margin: 0px;
                padding: 0px;
                display: none;
            }