<div class="cal-month-day <%= cls %>">
	<span class="pull-right" data-cal-date="<%= data_day %>" data-cal-view="day" data-toggle="tooltip" title="<%= tooltip %>"><%= day %></span>
	<% if (events.length > 0) { %>
		<div class="events-list" data-cal-start="<%= start %>" data-cal-end="<%= end %>">
			<% _.each(events, function(event) { %>
				<a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>" data-event-class="<%= event['class'] %>"
					class="pull-left event <%= event['class'] %>" data-toggle="tooltip"
					title="<%= event.title %>"></a>
			<% }); %>
		</div>
	<% } 
		var today = new Date(Date.parse(data_day));
		var augDay = new Date(Date.parse(data_day)); 
		var isEndDay = false;
		
		augDay.setDate(augDay.getDate() + 1);	
		
		var dayOfWeek = getReadableDayForCalendar(today.getDay());
		
		%>		
			<div>
			<%
				if(barberSchedule != null && barberSchedule.barberScheduleID > 0)
				{
					if(barberSchedule[dayOfWeek.toLowerCase()] != null)
					{
					%>
							<label><%= barberSchedule[dayOfWeek.toLowerCase()] %></label>
							<br/>							
					<%
					}
				}
			   
			   if(scope.currentBarber.barberStatus.vacationStartDate && scope.currentBarber.barberStatus.vacationEndDate) 
			   { 
			   		var endDate = new Date(Date.parse(scope.currentBarber.barberStatus.vacationEndDate));
			   		
			   		if(augDay.getDate() == endDate.getDate() && augDay.getFullYear() == endDate.getFullYear() &&
			   		   augDay.getMonth() == endDate.getMonth())
			   			isEndDay = true;
			   		
					if(augDay.getTime() >= Date.parse(scope.currentBarber.barberStatus.vacationStartDate) 
	   				   && augDay.getTime() <= Date.parse(scope.currentBarber.barberStatus.vacationEndDate)
	   				   || isEndDay)
	   				{ %>
	   					<label>ON VACATION</label>
					<%
					}
			   }
			%>
			</div>
</div>
