<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html ng-app="mbs">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta http-equiv="x-ua-compatible" content="IE=edge" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" /><!--, target-densitydpi=device-dpi" /-->
        <!--<link rel="stylesheet" type="text/css" href="../css/index.css" />-->
        <link rel="stylesheet" type="text/css" href="../css/mbs.css">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/mobile-angular-ui-base.min.css">
        <link rel="stylesheet" href="../css/mobile-angular-ui-desktop.min.css">
        <link rel="stylesheet" href="../css/bootstrap-tour.min.css">
        <link rel="stylesheet" href="../css/messenger.css">
        <link rel="stylesheet" href="../css/messenger-theme-future.css">
        <title>MyBarberShop</title>
    </head>
    <body ng-controller="barberSetupController">
        <div class="app">
            <!-- Navbars -->
            <div class="navbar navbar-app navbar-absolute-top" style="background-color: #4b4d4e">

                <div class="navbar-brand navbar-brand-center" ><!--yield-to="title"-->
                    <span>{{currentBarber.profile.displayName}}</span>
                </div>

                <div class="btn-group pull-left">
                    <div ng-click="" class="btn btn-navbar sidebar-toggle">
                        <a href="barbershop.html"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
                    </div>
                </div>

                <!--<div class="btn-group pull-right" ><!--yield-to="navbarAction"
                    <div class="btn btn-navbar" id="tourSearch">
                        <span class="glyphicon glyphicon-search"></span> Back
                    </div>
                </div>-->
            </div>

            <div class="app-body" style="height: 100%">
<!--                 <ng-view class="app-content"> -->

<!--                 </ng-view> -->
<!--                 <div class="container" style="background-color: #4b4d4e"> -->
<!--                 </div> -->
                <div class="scrollable">
                    <div id="conDiv" class="scrollable-content">
                    	<div class="list-group" style="height: 100%">
                    		<div class="list-group-item list-group-item-inverse" style="background-color: #4b4d4e;">
                    			<div id="barberDiv" class="container-fluid slimScrollIt">
                    				<label style="color: white;">Barber Info</label>
                    				<div class="row-fluid">
                    					<label style="color: white;" class="col-md-2">Normal Time In</label>
                    					<div class="btn-group">
                    						<button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" value="Time In">
                    							Time In <span class="caret"></span>
                    						</button>
                    						<ul class="dropdown-menu normalTimeIn" value="NormalTimeIn" role="menu" style="width: 100%; height: 20em; overflow: auto; overflow-x: hidden;">
                    					</div>
                    				</div>
                    				<br/>
                    				<div class="row-fluid">
                    					<label style="color: white;" class="col-md-2">Years Of Experience</label>
                    					<div class="btn-group">
                    						<button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" value="Years Of Experience">
                    							Years Of Experience <span class="caret"></span>
                    						</button>
                    						<ul class="dropdown-menu yearsOfExperience" value="YearsOfExperience" role="menu" style="width: 100%; height: 20em; overflow: auto; overflow-x: hidden;">
                    					</div>
                    				</div>
                    				<br/>
                    				<div class="row-fluid">
                    					<label style="color: white;" class="col-md-2">Avg Cut Time (in mins)</label>
                    					<div class="btn-group">
                    						<button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" value="Avg Cut Time">
                    							Avg Cut Time <span class="caret"></span>
                    						</button>
                    						<ul class="dropdown-menu avgCutTime" value="AvgCutTime" role="menu" style="width: 100%; height: 20em; overflow: auto; overflow-x: hidden;">
                    					</div>
                    				</div>
                    				<br/>
                    				<div class="row-fluid">
                    					<label style="color: white;" class="col-md-2">Accept Appointments?</label>
                    					<input id="acceptAppt" type="checkbox"/>
                    				</div>
                    				<br/>
                    				<div class="row-fluid">
                    					<button type="button" class="btn btn-inverse" ng-click="saveBarberInfo()">Save</button>
                    				</div> 
                   				</div>
                    			<div id="barberScheduleDiv" class="container-fluid slimScrollIt" style="display:none;">
                    				<label style="color: white;">Barber Schedule</label>
                    				<div class="row-fluid">
                    					<label style="color: white;" class="col-md-1">Sunday</label>
                    					<div class="btn-group">
                    						<button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" value="Time In">
                    							Time In <span class="caret"></span>
                    						</button>
                    						<ul class="dropdown-menu barberhours" value="Sunday" role="menu" style="width: 100%; height: 20em; overflow: auto; overflow-x: hidden;">
                    					</div>
                    					<label style="color: white;">to</label>
                    					<div class="btn-group">
                    						<button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" value="Time Out">
                    							Time Out <span class="caret"></span>
                    						</button>
                    						<ul class="dropdown-menu barberhours" value="Sunday" role="menu" style="width: 100%; height: 20em; overflow: auto; overflow-x: hidden;">
                    					</div>
                    				</div>
                    				<br/>
                    				<div class="row-fluid">
                    					<label style="color: white;" class="col-md-1">Monday</label>
                    					<div class="btn-group">
                    						<button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" value="Time In">
                    							Time In <span class="caret"></span>
                    						</button>
                    						<ul class="dropdown-menu barberhours" value="Monday" role="menu" style="width: 100%; height: 20em; overflow: auto; overflow-x: hidden;">
                    					</div>
                    					<label style="color: white;">to</label>
                    					<div class="btn-group">
                    						<button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" value="Time Out">
                    							Time Out <span class="caret"></span>
                    						</button>
                    						<ul class="dropdown-menu barberhours" value="Monday" role="menu" style="width: 100%; height: 20em; overflow: auto; overflow-x: hidden;">
                    					</div>
                    				</div>
                    				<br/>
                    				<div class="row-fluid">
                    					<label style="color: white;" class="col-md-1">Tuesday</label>
                    					<div class="btn-group">
                    						<button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" value="Time In">
                    							Time In <span class="caret"></span>
                    						</button>
                    						<ul class="dropdown-menu barberhours" value="Tuesday" role="menu" style="width: 100%; height: 20em; overflow: auto; overflow-x: hidden;">
                    					</div>
                    					<label style="color: white;">to</label>
                    					<div class="btn-group">
                    						<button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" value="Time Out">
                    							Time Out <span class="caret"></span>
                    						</button>
                    						<ul class="dropdown-menu barberhours" value="Tuesday" role="menu" style="width: 100%; height: 20em; overflow: auto; overflow-x: hidden;">
                    					</div>
                    				</div>
                    				<br/>
                    				<div class="row-fluid">
                    					<label style="color: white;" class="col-md-1">Wednesday</label>
                    					<div class="btn-group">
                    						<button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" value="Time In">
                    							Time In <span class="caret"></span>
                    						</button>
                    						<ul class="dropdown-menu barberhours" value="Wednesday" role="menu" style="width: 100%; height: 20em; overflow: auto; overflow-x: hidden;">
                    					</div>
                    					<label style="color: white;">to</label>
                    					<div class="btn-group">
                    						<button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" value="Time Out">
                    							Time Out <span class="caret"></span>
                    						</button>
                    						<ul class="dropdown-menu barberhours" value="Wednesday" role="menu" style="width: 100%; height: 20em; overflow: auto; overflow-x: hidden;">
                    					</div>
                    				</div>
                    				<br/>
                    				<div class="row-fluid">
                    					<label style="color: white;" class="col-md-1">Thursday</label>
                    					<div class="btn-group">
                    						<button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" value="Time In">
                    							Time In <span class="caret"></span>
                    						</button>
                    						<ul class="dropdown-menu barberhours" value="Thursday" role="menu" style="width: 100%; height: 20em; overflow: auto; overflow-x: hidden;">
                    					</div>
                    					<label style="color: white;">to</label>
                    					<div class="btn-group">
                    						<button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" value="Time Out">
                    							Time Out <span class="caret"></span>
                    						</button>
                    						<ul class="dropdown-menu barberhours" value="Thursday" role="menu" style="width: 100%; height: 20em; overflow: auto; overflow-x: hidden;">
                    					</div>
                    				</div>
                    				<br/>
                    				<div class="row-fluid">
                    					<label style="color: white;" class="col-md-1">Friday</label>
                    					<div class="btn-group">
                    						<button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" value="Time In">
                    							Time In <span class="caret"></span>
                    						</button>
                    						<ul class="dropdown-menu barberhours" value="Friday" role="menu" style="width: 100%; height: 20em; overflow: auto; overflow-x: hidden;">
                    					</div>
                    					<label style="color: white;">to</label>
                    					<div class="btn-group">
                    						<button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" value="Time Out">
                    							Time Out <span class="caret"></span>
                    						</button>
                    						<ul class="dropdown-menu barberhours" value="Friday" role="menu" style="width: 100%; height: 20em; overflow: auto; overflow-x: hidden;">
                    					</div>
                    				</div>
                    				<br/>
                    				<div class="row-fluid">
                    					<label style="color: white;" class="col-md-1">Saturday</label>
                    					<div class="btn-group">
                    						<button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" value="Time In">
                    							Time In <span class="caret"></span>
                    						</button>
                    						<ul class="dropdown-menu barberhours" value="Saturday" role="menu" style="width: 100%; height: 20em; overflow: auto; overflow-x: hidden;">
                    					</div>
                    					<label style="color: white;">to</label>
                    					<div class="btn-group">
                    						<button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" value="Time Out">
                    							Time Out <span class="caret"></span>
                    						</button>
                    						<ul class="dropdown-menu barberhours" value="Saturday" role="menu" style="width: 100%; height: 20em; overflow: auto; overflow-x: hidden;">
                    					</div>
                    				</div>
                    				<br/>
                    				<div class="row-fluid">
                    					<label style="color: white;" class="col-md-1">Free Time</label>
                    					<div class="btn-group">
                    						<button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" value="Time In">
                    							Time In <span class="caret"></span>
                    						</button>
                    						<ul class="dropdown-menu barberhours" value="FreeTime" role="menu" style="width: 100%; height: 20em; overflow: auto; overflow-x: hidden;">
                    					</div>
                    					<label style="color: white;">to</label>
                    					<div class="btn-group">
                    						<button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" value="Time Out">
                    							Time Out <span class="caret"></span>
                    						</button>
                    						<ul class="dropdown-menu barberhours" value="FreeTime" role="menu" style="width: 100%; height: 20em; overflow: auto; overflow-x: hidden;">
                    					</div>
                    				</div>
                    				<br/>
                    				<div class="row-fluid">
                    					<button type="button" class="btn btn-inverse" ng-click="saveBarberSchedule()">Save</button>
                    				</div>  
                   					<hr/>
                    			</div>  
                   				<div id="barberSpecialtiesDivContainer" class="container-fluid" style="display:none;">
                   					<label style="color: white;">Barber Specialties</label>
                   					<br/>
                    				<div id="barberSpecialtiesDiv" class="row-fluid slimScrollIt">
                    					<button type="button" class="btn btn-inverse" ng-click="saveBarberSpecialties()">Save</button>
                    				</div>  
                   				</div>
                    		</div>
                    	</div>
                    </div>
                </div>
            </div>
        </div>
        
<!--         <div overlay="barberScheduleOverlay"> -->
<!--         	<h4 class="overlay-title">Schedule Setup</h4> -->
<!--         	<p>Please set the times you are normally in the shop during the week. If you are off on any particular day, just select OFF from the list</p> -->
<!--         	<p toggle="off" bubble target="barberScheduleOverlay"> -->
<!--         		<span class="btn btn-primary">OK</span> -->
<!--         	</p> -->
<!--         </div> -->
                                                       
        <script type="text/javascript" src="../scripts/cordova.js"></script>
        <script type="text/javascript" src="../scripts/index.js"></script>
        <script type="text/javascript" src="../scripts/modernizr.js"></script>

        <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.js"></script>
        <script src="../scripts/mobile-angular-ui.min.js"></script>

        <!--<script src="../scripts/mobile-angular-ui-touch-fastclick.min.js"></script>-->
        <script type="text/javascript" src="../scripts/mobile-angular-ui-scrollable-overthrow.min.js"></script>
        <script type="text/javascript" src="../scripts/angular-resource.js"></script>
        <script type="text/javascript" src="../scripts/bootstrap-tour.min.js"></script>
        <script type="text/javascript" src="../scripts/jquery.slimscroll.min.js"></script>
        <script type="text/javascript" src="../scripts/messenger.min.js"></script>
        <script type="text/javascript" src="../scripts/messenger-theme-future.js"></script>
        <script type="text/javascript" src="../controllers/controller.js"></script>
        <script type="text/javascript" src="../services/services.js"></script>
        <script type="text/javascript" src="../modules/app.js"></script>
        <script type="text/javascript" src="../util/mbsutility.js"></script>
        
       
    </body>

</html>

