<ion-view hide-nav-bar="false">
    <ion-nav-title>
        <label class="mbsfont">Search</label>
    </ion-nav-title>
    <ion-content>
        <div class="bar bar-header item-input-inset mbsbackground">
            <label class="item-input-wrapper" style="background-color: #444">
                <i ng-class="searchIcon + ' placeholder-icon'" style="color: #ef473a; background-color: #444"></i>
                <input id="barberName" style="color: #aaa; font-weight: bold; background-color: #444" ng-model="searchName" type="search" placeholder="Search Barbers" ng-keyup="searchBarbers()" />
            </label>
        </div>
        <label id="searchingText" style="display: none; padding-left:15px;">searching...</label>
        <ion-scroll ng-style="{height: screenHeight}">
            <ion-list ng-hide="barbersSearch.length == 0"> <!--class="animate-ripple"-->
                <ion-item ng-repeat="barber in barbersSearch" class="item-avatar item-text-wrap" ng-click="loadBarber(barber)">
                    <img ng-src="{{barber.barberImage}}">
                    <h2>{{barber.profile.displayName}}</h2>
                    <label>Available: {{barber.available}}</label>
                    <div class="card-footer text-right">
                        <div class="pull-left">
                            <i ng-class="appointmentIcon + (barber.acceptsAppointments == 'false' ? ' assertive' : ' balanced')"></i> {{barber.doesAppointments}}
                            <i ng-class="starIcon + ' energized'"></i> {{barber.ratingCalc}}%
                        </div>
                    </div>
                </ion-item>
            </ion-list>
            <!--<ion-list type="card" ng-hide="barbersSearch.length > 0">
                <ion-item>
                    <textarea style="resize:none; background-color: #ffffff;" disabled>No Barbers found.</textarea>
                </ion-item>
            </ion-list>-->
            <div class="centeredDiv" ng-hide="barbersSearch.length > 0">
                <p style="text-align: center">No Barbers found.</p>
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>