<ion-view view-title="Notifications" hide-nav-bar="false">
    <ion-content>
        <div id="notificationsView">
            <ion-list class="animate-blinds">
                <ion-item class="item item-thumbnail-left item-text-wrap" ng-repeat="notification in notificationInfo" ng-click="handleNotificationClicked(notification)">
                    <h3>{{notification.title}}</h3>
                    <p>{{notification.message}}</p>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>