<ion-view view-title="Profile" hide-nav-bar="false">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-images" ng-click="loadImages(currentProfile.images)" ng-show="false"></button>
        <button menu-toggle="right" class="button button-icon icon ion-navicon" ng-click="toggleRight()" ng-show="false"></button>
    </ion-nav-buttons>
    <ion-side-menus>
        <ion-side-menu-content drag-content="false" scroll="false">
            <br />
            <br />
            <br/>
            <ion-scroll ng-style="{height: screenHeight}">
                <div id="userDiv">
                    <div class="bar bar-header bar-dark">
                        <h1 class="title">{{currentProfile.displayName}}'s Info</h1>
                    </div>
                </div>
                <br />
                <br />
                <br/>
                <div id="userInfoStatic" class="list">
                    <div class="item">
                        <img class="full-image" ng-src="{{userImage}}" />
                    </div>
                    <label class="item item-input">
                        <span class="input-label">Display Name:</span>
                        <label>{{currentProfile.displayName}}</label>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">First Name:</span>
                        <label>{{currentProfile.firstName}}</label>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Last Name:</span>
                        <label>{{currentProfile.lastName}}</label>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Phone Number:</span>
                        <label>{{currentProfile.phoneNumber}}</label>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Member Since:</span>
                        <label>{{memberSince}}</label>
                    </label>
                    <button class="button button-positive button-block" ng-click="editUserInfo()">Edit</button>
                    <br/>
                    <br/>  
                    <br />              
                </div>
                <div id="userInfoEdit" class="list" style="display:none;">
                    <div class="item">
                        <img class="full-image" ng-src="{{userImage}}" />
                        <button style="position:absolute; left:10px; display: none;" class="button button-icon button-assertive icon ion-edit">Edit</button>
                    </div>
                    <label class="item item-input">
                        <span class="input-label">Display Name:</span>
                        <input type="text" id="newDisplayName" maxlength="50" ng-value="{{currentProfile.displayName}}">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">First Name:</span>
                        <input type="text" id="newFirstName" maxlength="100" ng-value="{{currentProfile.firstName}}">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Last Name:</span>
                        <input type="text" id="newLastName" maxlength="100" ng-value="{{currentProfile.lastName}}">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Phone Number:</span>
                        <input type="text" id="newPhoneNumber" maxlength="12" ng-value="{{currentProfile.phoneNumber}}">
                    </label>
                    <br />
                    <div style="float:right;" class="padding-right">
                        <button class="button button-assertive" ng-click="cancelEditUserInfo()">Cancel</button>
                        <button class="button button-balanced" ng-click="updateUserInfo()">Save</button>
                    </div>
                    <br/>
                    <br/>
                    <br />
                </div>
            </ion-scroll>
        </ion-side-menu-content>
        <ion-side-menu side="right">
            <div class="list">
                <ion-scroll ng-style="{height: screenHeight}">
                    <div class="bar bar-subheader bar-dark">
                        <h1 class="title">{{currentProfile.displayName}}'s BarberShops</h1>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <ion-list type="card" ng-hide="currentBarberShops.length == 0">
                        <ion-item ng-repeat="barbershop in currentBarberShops" class="item-thumbnail-left" ng-click="loadBarberShop(barbershop)">
                            <img ng-src="{{barbershop.shopImage}}" />
                            <h3>{{barbershop.shopName}}</h3>
                            <textarea style="resize: none" disabled>{{barbershop.formattedStreet}}</textarea>
                            <br />
                            <label>{{barbershop.formattedCityState}}</label>
                            <br />
                            <label>{{barbershop.phoneNumber}}</label>
                            <div ng-bind-html="barbershop.hoursOf">
                            </div>
                        </ion-item>
                    </ion-list>
                    <ion-list type="card" ng-hide="currentBarberShops.length > 0">
                        <ion-item>
                            <textarea style="resize:none" disabled>You have no barber shops set!</textarea>
                        </ion-item>
                    </ion-list>
                </ion-scroll>
            </div>
        </ion-side-menu>
    </ion-side-menus>
</ion-view>