<ion-view view-title="Shops" hide-nav-bar="false">
    <ion-nav-buttons side="left">
        <button id="notificationsButton" ng-class="'button button-icon ' + notificationsIcon" ng-hide="hasNotifications == false" ng-click="handleNotificationsClick()"></button>
    </ion-nav-buttons>
    <ion-content>
        <div id="maps"></div>
        <ion-scroll ng-style="{height: screenHeight}">
            <ion-list id="conDiv">
            </ion-list>
        </ion-scroll>
    </ion-content>
</ion-view>