#contenthost {
	height: 100%;
	width: 100%;
}

/* Default View Layout */
.fragment {
    /* Define a grid with rows for a banner and a body */
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 60px 1fr;
    display: -ms-grid;
    height: 100%;
    width: 100%;
}

    .fragment header[role=banner] {        
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
		background: #4b4d4e;
		color: #4b4d4e;
    }
       
        .fragment header[role=banner] .titlearea {
            -ms-grid-column: 1;
			-ms-grid-row-align: center;
			margin-left: 10px;            
        }

            .fragment header[role=banner] .titlearea .pagetitle {
                width: calc(100% - 20px);
            }

    .fragment section[role=main] {
        -ms-grid-row: 2;
        height: 100%;
    }

/* Default Forms */
label {
  display: inline-block;  
  margin-bottom: 0;
  font-weight: bold;
}

.viewForm {
	margin: 1em;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
	font-size: larger;
}
	
.form-group input[type=text] {
	margin: 0px;
	margin-top: 4px;
}

input[readonly]  {	
	background: #eee;
	color: #999;
}